* {
	font-family: "Open Sans";
	padding: 0px;
	margin: 0px;
}
body {
	overflow-x: hidden;
	width: 100vw;
}
header nav {
	width: 100vw;
	padding-left: 5%;
	padding-right: 5%;
}
header img {
	width: 25%;
	margin-left: 32.5%;
	margin-right: 32.5%;
}