* {
	font-family: "Open Sans";
	padding: 0px;
	margin: 0px;
	border: none;
	outline: none;
}
body {
	overflow-x: hidden;
	width: 100vw;
}
header .dateText {
	position: absolute;
	top: 2%;
	left: 2%;
	font-size: 125%;
}
header nav {
	width: 100vw;
}
header .header-logo {
	width: 25%;
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 32.5%;
	margin-right: 32.5%;
}
header nav ul{
	width: 100%;
	text-align: center;
	background-color: #0000cc;
	margin: 0px;
	height: auto;
}
header nav ul a {
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	padding: 2.5vh;
	font-size: 150%;
	color: white;
	border-left: 2px solid white;
	border-right: 2px solid white;
	transition-duration: 0.2s;
	display: inline-block;
}
header nav ul a:hover{
	border-left: 2px solid #bb0000;
	border-right: 2px solid #bb0000;
	color: white;
	background-color: #bb0000;
	cursor: pointer;
}
.shownSearch {
	height: 100%;
}
header .searchLink input {
	font-size: 100%;
	margin-left: 1vw;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	width: 50vw;
}
.disabled {
	display: none;
}
.enabled {
	display: inline;
}
.searchLink.enabled {
	display: inline-block;
}
.shownSearch {
	background-color: #bb0000;
	border: none;
	display: inline-block;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 70vw;
}
.shownSearch:hover {
	background-color: #bb0000;
	border: none;
}
.suggestionsbox {
    position: relative;
    display: block;
    z-index: 1;
    text-align: center;
    width: 50vw;
    float: left;
    margin-left: 10vw;
}
.suggestionsbox li {
	display: block;
	border: none;
	text-align: center;
	list-style: none;
	padding: 0px;
	width: auto;
	margin: 0px;
}
.searchLink:hover .dropdown-content {
	display: block;
}
.dropdown-content {
	display: block;
	width: 70%;
	margin-left: 15%;
	text-align: left;
	position: absolute;
}
.dropdown-content a.enabled {
	display: block;
}
.dropdown-content.disabled {
	display: none;
	width: 70vw;
	border: none;
	border-top: 2px solid white;
}
.dropdown-content a.disabled {
	display: none;
	width: 70vw;
	border: none;
	border-top: 2px solid white;
}
.dropdown-content a:hover {
	border: none;
	border-top: 2px solid white;
	width: 75vw;
	background-color: #0000cc;
}
.dropdown-content a {
	width: 70vw;
	margin: 0px;
	height: 5vh;
	padding-left: 0px;
	padding-right: 0px;
	border: none;
	transition-duration: 0.2s;
	background-color: #0000cc;
	border-top: 2px solid white;
	text-decoration: none;
	display: block;
}